doctype html
- theme = current_user&.commerce&.theme || Commerce::DEFAULT_THEME
html data-theme=theme
  head
    = render "layouts/head"

  body data-controller="theme" data-theme-name-value=theme class="min-h-screen bg-base-100 text-base-content"
    = render "app/shared/navbar"
    = render "app/shared/flash_messages"

    main class="container mx-auto p-4"
      = yield
